body {
    background-image: url('vecteezy_laser-background-futuristic-horizon-background-technology_6878140.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 #homemsg {
    font-size: 7rem;
    font-style: italic;
    text-align: center;
    margin-top: 33%;
    text-shadow: 10cm;
    color: cornsilk;
 }
